body {
    margin: 0;
    font-size: 28px;
    font-family: calibri;
}

a {
    text-decoration: none
}

.mainHead {
    background-color: black;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header h2 a {
    text-decoration: none;
}

header .logo a {
    text-decoration: none;
    color: white;
}

.quote h2 {
    margin: 0em 0em 0em;
    font-size: 1em;
}

h3 {
    text-align: center;
}

.navbar {
    /*    background-color: ;*/
    overflow: hidden;
    height: 80px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: flex-end;
}

.navbar a {
    

    color: white;
    text-align: center;
    margin: 1.7em .2em 0em;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: black;

}

.navbar ol {
    list-style-type: none;
    margin: 0;
    padding: 0em 0em 0em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.divline {

    border-right: thin solid white;
    height: 23px;
    margin: 57px 0 0;
}

main {

    padding: 16px;
    margin: 1em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0em 0em 0em;
    margin: 1em;
    /*    background-color: ;*/
    border-radius: 25px;
}

div.squarelink {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.right {
    width: 10em;
}

.left {
    width: 10em
}

.top {
    margin-bottom: 2.5em
}

.sec1 {
    margin: 0em 0em 0em;
    text-align: center;
}

.sec1 figure {
    float: right;
}

.wrapper p {
    line-height: 40px;
    text-align: center;
    padding-top: 1em
}

.sec1 figcaption {
    text-align: center;
    font-style: italic;
    font-size: .6em
}

.sec1 {
    align-self: center
}

.sec2 {
    display: flex;
    flex-direction: row-reverse;
    text-align: center
}

.sec2 figure {
    text-align: center;
    font-style: italic;
    font-size: .6em
}

.sec2 p {
    align-self: center
}

footer {
    background-color: black;

    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 2em;

}

footer p {}

footer .menu {
    display: flex;
    justify-content: center
}


footer a {
    

    color: grey;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;

    padding: 0px 100px 0px 100px
}

footer p {
    margin-right: 2em;
    padding-left: 2em;
    font-size: 13px;
    text-align: center
}

footer a:hover {

    color: white;
}

.idudegirl {
    width: 540px;
    /* you can use % */
    height: auto;
    border-radius: 20%;
}

.sessyidude {
    width: 300px;
    /* you can use % */
    height: auto;
    border-radius: 20%;
}

/*secondary pages*/

.mainHead2 {
    background-color: black;
    margin: 0;

    width: 100%;
    display: flex;

    height: 100px;
    flex-direction: row;
    align-items: center
}

.mainHead a {
    color: white;
}

.navbar2 {
    /*    background-color: ;*/
    border-bottom: 2px solid white;
    width: 100%;
}

.nav2 {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center
}

.nav2 ol {
    margin: 0em;
    padding: 0em 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav2 li {

    border-bottom: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin: 1.5em 0em 0em 0em;
    font-size: .8em;
}

.nav2 a {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}

.nav2 a:hover {
    background-color: white;
    color: black;
}

.layoutS {
    display: flex;
}

.flex2 {
    width: 85%
}

.flex2 section p {
    margin: 1em;
    text-align: center
}

.asideNav {
    background-color: black;
    height: 3000px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
}

.logoPos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo2 {
    height: 0px
}

.phone {
    font-size: .6em;
    color: white;
    text-align: center
}


.callUs {
    position: absolute;
    padding: .2em;
    margin: 0em 0em 0em 8.4em;
    font-size: 1.1em;
    background-color: black;
    border-radius: 0px 0px 30px 30px;
}

.callUs a {
    color: white;
    border-radius: 0px 17px 17px 17px;
}

.callUs a:hover {
    background-color: white;
    color: black;
}

.iDudes {
    display: flex;
    flex-direction: column;
    justify-content: center
   
}

.iDudes figcaption {
    align-self: center
}

.iDudes img {
    height: 100%;
    width: 50%;
    border-radius: 90px;
    align-self: center
}


/*internal Pages*/

.layoutI {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.layoutI section > p {
    text-align: center
}



@media screen and (max-width: 520px) {
  
    .sec1 p{margin: 50px}
    p {
        font-size: .68em;
       
    }
    .flex3 section ol{padding: 0px;
    font-size: .5em}
    .logoPos {
        font-size: .9em
    }
    footer {
        background-color: black;
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center
    }
    footer .menu {}

    footer a {
        font-size: .8em;
        padding: 0px 10px 0px 10px
    }
    footer a:first-child {
        color: white;
    }
   
    .idudegirl {
        width: 305px;
        height: auto
    }
    .sessy {
        display: none
    }
/*
    .callUs {
        display: none
    }
    .mainHead {
        height: 400px;
        flex-direction: column;
     
    }

    .divline {
        display: none
    }

    .navbar ol {

        flex-direction: column;
        position: absolute;

        top: 190px;
        font-size: 1em;
        width: 100%;


    }
    .navbar li {}
    .navbar a {
        width: 100%;
        background-color: gray;
        padding: 12px 0px 12px 0px;
        margin: 0
    }

    .logoPos {
        text-align: center;
    }
*/
    .asideNav {
        display: none
    }


    .squarelink ul li {
        list-style-type: none;
        text-align: center
    }

    .squarelink a {
        color: black
    }

    .squarelink a:hover {
        display: block;
        color: white;
        background-color: black
    }

    /*secondary pages*/
    iframe {
        width: 300px;
        height: 160px
    }

    .flex2 {
        padding: 0px;
    }

    ul li {
        font-size: .6em
    }
    .iDudes img{width: 200px;
    height: 100%}
}










.callUs {
        display: none
    }
    .mainHead {
        height: 400px;
        flex-direction: column;
     
    }

    .divline {
        display: none
    }

    .navbar li{

        flex-direction:column;
       

        top: 190px;
        font-size: 1em;
      


    }
    .navbar li {display: flex;}
    .navbar a {
        width: 100%;
        background-color: gray;
        padding: 12px 0px 12px 0px;
        margin: 0;
    
    }

    .logoPos {
        text-align: center;
    }









table,
th,
td {
    border: solid thin
}